@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding:0;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#day {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
}

#evening {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

@media (max-height: 750px) {
  #display_clock[data-infos-actived="true"] {
    top: -6rem;
  }
}